[Unit]
Description=Discord Bot
Requires=network.target
After=network.target

[Service]
Type=notify
User=User
Group=Group

Nice=-1
ExecStart=/usr/bin/python3 -u /path/to/bot.py -n -t YOUR_TOKEN_HERE
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target